body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 background-color: #C7AD7F !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* BOOK DETAIL CSS */
.openbook {

  background-image: url("https://i.postimg.cc/qR9FhcY6/51485348058-5be153b74f-o.png");

  background-repeat: no-repeat;
  background-position: center;
  margin: auto;
  top: -5px;
  height: 500px;
  max-width: 1000px;
  position: relative;
  
}

.list-group{
  max-width: 255px;
 position: absolute;
  left: 560px;
 top: 150px;
 overflow-y: auto;
 
}

#reviewBox{
  top: 200px;
   position: absolute;
}
.review{
  font-size: small;
  top: 515px;
  left: 10px;
  max-height: 25vh;
  max-width: 200px;
  width: 100px;

}
.openbookImage{

  left: 200px;
  top: 40px;
  position: absolute;
  max-width: 250px;
}
/* allbooks css */
#allcard {
   margin-bottom: 10px;
    margin-right: 10px;
}
.card {
   max-width: 45%;
   position: absolute;

}
.card-img-top{
   max-width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* bookshelf css */
#shelf {
  display: flex;
  justify-content: center;
  align-content: flex-start;
}

.shelfbooks {
 max-width: 50px;
}

.shelfbooks > img {
  
  max-height: 350px;
  max-width: 80px;

}
.shelfbooks > img:hover {
  transform: scale(1.1)
}
#shelftitles {

  text-align: center;
  transform: rotate(-90deg);
  height: 150px;
  position:absolute;
  top: 200px;
  width: 170px;
  font-size: small;
/* 
    transform: rotate(-90deg);
    text-align: center;
    
    width: 300px;
    height: 250px;
    position: absolute; */

  /* text-align: center;
  transform: rotate(-90deg);
  height: 15px;
  top: 220px;
  width: 150px;
  left: 150px;
  position: absolute;
  */
  /* align-content: flex-start; */
}

#bookshelfdiv {
  background-image: url("https://live.staticflickr.com/65535/51484450652_5dfd314317_b.jpg");
    background-repeat: no-repeat;
      background-position: center;
  margin: auto;

  max-width: 1000px;
  position: relative;
}

.card-style {
  display: flex;
  justify-content: center;
  align-content: flex-start;
  padding: 10px;
}

/* .deletebtn{
  font-size: 1.1rem;
  font-family: 'Quicksand', sans-serif;
  border: none;
  background-color: blue;
  color: white;
  padding: 0.7rem 1.2rem;
  border-radius: 1.0rem;
  cursor: pointer;
  outline: 0;
} */